{% extends './base.html' %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-light border-end">
            <div class="d-flex flex-column flex-shrink-0 p-3 text-dark" style="min-height: 100vh;">
                <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                    <svg class="bi pe-none me-2" width="40" height="32" aria-hidden="true"></svg>
                    <span class="fs-4 fw-semibold">Sidebar</span>
                </a>
                <hr>
                <ul class="nav nav-pills flex-column mb-auto">
                    <li>
                        <a href="client_dashboard" class="nav-link text-dark">
                            <i class="bi bi-speedometer2 me-2" width="16" height="16" aria-hidden="true"></i>
                            Dashboard
                        </a>
                    </li>
                    <li>
                        <a href="{{url_for('new_package')}}" class="nav-link active text-white bg-primary" role="button">
                            <i class="bi bi-table me-2" width="16" height="16" aria-hidden="true"></i>
                            Create a New Shipment
                        </a>
                    </li>
                    <li>
                        <a href="{{url_for('view_shipments')}}" class="nav-link text-dark">
                            <i class="bi bi-grid me-2" width="16" height="16" aria-hidden="true"></i>
                            My Shipment
                        </a>
                    </li>
                </ul>
                <hr>
                <div class="dropdown">
                    <a href="#" class="d-flex align-items-center text-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
                        <strong>{{current_user.full_name}}</strong>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-light text-small shadow">
                        <li><a class="dropdown-item" href="#">New project...</a></li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{{url_for('logout')}}">Sign out</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Content -->
        <div class="col py-3">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}
